body{
  background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.App {
  text-align: center;
  margin: 100px;
}

.cta-card__input {
  width: 20%;
  height: 10% !important;
  padding: 1rem 2rem;
  display: inline-block;
  outline: none;
  border: 2px solid rgba(243, 248, 254, 0.3);
  border-radius: 10px;
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
  color: #fff;
  background-color: rgba(122, 122, 122, 0.25);
  text-shadow: 2px 2px 4px #000000;
}

.cta-card__input:focus {
  outline: 4px solid rgba(70, 92, 218, 0.4);
  background-color: rgba(195, 195, 195, 0.52);
  border: 2px solid transparent;
}


.Glass{
  height: 20rem;
  justify-items: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background: rgba(122, 122, 122, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 6px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1{
  padding-top: 50px;
  font-size: 50px;
}